         <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%" height="100%">
            <thead>
              <th><%= t("transaction_history.source_type")%></th>
              <th><%= t("general.casino")%></th>
              <th><%= t("transaction_history.slip_no")%></th>
              <th><%= t("transaction_history.member_id")%></th>
              <th><%= t("transaction_history.accounting_date")%></th>
              <th><%= t("transaction_history.date")%></th>
              <th><%= t("transaction_history.location")%></th>
              <th><%= t("transaction_history.cage_cashier_id")%></th>
              <th><%= t("transaction_history.status")%></th>
              <th><%= t("transaction_history.deposit")%></th>
              <th><%= t("transaction_history.deposit_reason")%></th>
              <th><%= t("transaction_history.withdrawal")%></th>
              <th><%= t("transaction_history.void_slip_no")%></th>
              <th><%= t("transaction_history.action")%></th>
            </thead>
            <tbody>
              <% @transactions.each do |t| %>
                <tr id="transaction_<%= t.id %>">
                  <td><%= t.source_type.gsub('_transaction','').titleize %></td>
                  <td><%= Casino.find_by_id(t.casino_id).name %></td>
                  <td><%= t.slip_number %></td>
                  <td><%= t.player.member_id %></td>
                  <td><%= t.shift.accounting_date%></td>
                  <td><%= format_time(t.created_at) %></td>
                  <td><%= t.location %></td>
                  <td><%= t.user.name if !t.user.nil? %></td>
                  <td><%= t.display_status %></td>
                  <td><%= t.deposit_amt_str %></td>
                  <td><%= !t.user.nil? ? t.data_hash[:deposit_reason] : t.promotion_code %></td>
                  <td><%= t.withdraw_amt_str %></td>
                  <td><%= t.void_transaction.slip_number if t.voided? %></td>
                  <td>
                    <% if t.source_type == 'cage_transaction' %>
                      <% if policy(:player_transaction).void? && t.status == 'completed'%>
                        <% if t.can_void? %>
                          <% trans_type = t.transaction_type.name %>
                          <% pop_up_btn :id => "void_#{trans_type}_" + t.id.to_s, :str => t("button.void"), :form_id => "void_#{trans_type}", :style => "void_#{trans_type}_btn" do %>
                              <p><%= t("confirm_box.void_transaction", {:slip_number => t.slip_number}) %></p>
                          <% end %>
                        <% else %>
                          <% if t.voided? && policy(:PlayerTransaction).reprint_void? %>
                            <%= link_to t("button.print_void"), reprint_path + "?transaction_id=#{t.void_transaction.id}", :id => "reprint_void", :class => "btn btn-primary", :method => "get", :remote => true %>
                          <% end %>
                        <% end %>
                      <% end %>
                      <% if policy(:player_transaction).reprint? %>
                        <%= link_to t("button.print"), reprint_path + "?transaction_id=#{t.id}", :id => "reprint", :class => "btn btn-primary", :method => "get", :remote => true %> </td>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
