          <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%" height="100%">
            <thead>
              <th><%= t("transaction_history.member_id")%></th>
              <th><%= t("general.casino")%></th>
              <th><%= t("transaction_history.accounting_date")%></th>
              <th><%= t("transaction_history.date")%></th>
              <th><%= t("transaction_history.location")%></th>
              <th><%= t("transaction_history.employee_name")%></th>
              <th><%= t("transaction_history.status")%></th>
              <th><%= t("transaction_history.action")%></th>
              <th><%= t("transaction_history.deposit")%></th>
              <th><%= t("transaction_history.expire")%></th>
              <th><%= t("transaction_history.duration")%></th>
              <th><%= t("transaction_history.remark")%></th>
            </thead>
            <tbody>
              <% @transactions.each do |t| %>
                <tr id="transaction_<%= t.id %>">
                  <td><%= t.player.member_id %></td>
                  <td><%= Casino.find_by_id(t.casino_id).name %></td>
                  <td><%= t.shift.accounting_date%></td>
                  <td><%= format_time(t.created_at) %></td>
                  <td><%= t.location %></td>
                  <td><%= !t.user.nil? ? t.user.name : 'System' %></td>
                  <td><%= t.display_status %></td>
                  <td><%= t("transaction_history.#{t.transaction_type.name}") %></td>
                  <td><%= t.credit_deposit_amt_str %></td>
                  <td><%= t.credit_expire_amt_str %></td>
                  <td><%= t.credit_expire_duration_str %></td>
                  <td style="width: 15%; text-align: left;"><%= show_remark(t.data) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
