          <%= form_tag(search_transactions_path, :remote => true, :id => "search_form", :autocomplete => "off") do %>
            <fieldset>
              <div class="row">
                <div class="col-sm-3">
                  <section class="smart-form">
                    <div class="inline-group">
                      <label class="radio">
                        <input type="radio" id="card_id" name="id_type" value="card_id" checked="checked">
                        <i>
                        </i>
                        <%= t("general.card_id") %>
                      </label>
                      <label class="radio">
                        <input type="radio" id="member_id" name="id_type" value="member_id">
                        <i>
                        </i>
                        <%= t("general.member_id") %>
                      </label>
                    </div>
                  </section>
                </div>
                
                <div class="col-sm-5">
                  <section class="smart-form">
                    <label class="input">
                      <%= text_field_tag(:"id_number",@card_id) %>
                    </label>
                  </section>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1">
                  <section class="smart-form">
                  <br/>
                    <label class="label"><%= t("transaction_history.start_date") %></label>
                  </section>
                </div>
                <div class="col-sm-3">
                  <section class="smart-form">
                  <%= render partial: "shared/datetime_picker", locals: { calender_time: today_start_time , name: "start_time"} %>
                  </section>
                </div>
                <div class="col-sm-1">
                  <section class="smart-form">
                  <br/>
                    <label class="label"><%= t("transaction_history.end_date") %></label>
                  </section>
                </div>
                <div class="col-sm-3">
                  <section class="smart-form">
                  <%= render partial: "shared/datetime_picker", locals: { calender_time: today_end_time , name: "end_time"} %>
                  </section>
                </div>
              </div>
              
              
              <div class="row">
                <div class="col-sm-1">
                  <section class="smart-form">
                    <label class="label"><%= t("transaction_history.transaction_id") %></label>
                  </section>
                </div>
                <div class="col-sm-7">
                  <section class="smart-form">
                    <label class="input">
                      <%= text_field_tag(:"transaction_id") %>
                    </label>
                  </section>
                </div>
              </div>
                
              <div class="row">
                <div class="col-sm-1">
                  <section class="smart-form">
                  </br>
                    <label class="label"><%= t("transaction_history.time_remark") %></label>
                  </section>
                </div>
              </div>
              
            </fieldset>
              
            <div class="form-actions">
              <div class="row">
                <div class="col-md-12">
                  <%= hidden_field_tag 'from', search_transactions_path %>
                  <%= submit_tag t("button.search"), :id => "search", :class => "btn btn-primary"  %>
                </div>
              </div>
            </div>
          <% end %>
