<% if @transactions %>
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
  <header role="heading">
    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2><%= t("transaction_history.report") %></h2>
  </header>
  <div class="content">
    <div class="widget-body no-padding">
      <% if @transactions.length > 0 %>
        <div id="player_trnasaction_result">
            <%= render "player_transactions/#{@operation}_table" %>
        </div>
        <% if policy(:player_transaction).print_report? %>
          <div>
            <button id="print_player_transaction" class="btn btn-primary pull-right"><%= t("button.print") %></button>
          </div>
        <% end %>
      <% else %>
        <br/>
        <br/>
        <label style="margin-left: 10px"> <%= t("report_search.no_transaction_found")%> </label>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<%= render partial: "shared/pop_up_panel" %>
<%= form_tag(void_deposit_path, :remote => true, :id => "void_deposit", :style => 'display: none;') do |f|%>
  <%= hidden_field_tag :transaction_id, 0 %>
<% end %>

<%= form_tag(void_withdraw_path, :remote => true, :id => "void_withdraw", :style => 'display: none;') do |f|%>
  <%= hidden_field_tag :transaction_id, 0 %>
<% end %>

<%= form_tag(void_deposit_path, :remote => true, :id => "void_manual_deposit", :style => 'display: none;') do |f|%>
  <%= hidden_field_tag :transaction_id, 0 %>
<% end %>

<%= form_tag(void_withdraw_path, :remote => true, :id => "void_manual_withdraw", :style => 'display: none;') do |f|%>
  <%= hidden_field_tag :transaction_id, 0 %>
<% end %>




<%= javascript_include_tag "print.js" %>

<script>
  function trimToPrintContent(raw) {
    $('thead th:last-child', raw).remove();
    $('tbody tr td:last-child', raw).remove();
    $('table', raw).css("border","1px double");
    $('tbody tr td', raw).css("border","1px double");
    $('thead th', raw).css("border","1px double");
    $('table', raw).attr('height', 10);
  }

  var raw_result = $('div#player_trnasaction_result').clone();
  trimToPrintContent(raw_result);

  $(document).ready(function() {
    $('button#print_player_transaction').click(function() {
      var content = raw_result.html();

      printHtml(content, true);

      return false;
    });
  });
  
  $('button.void_deposit_btn').click(function() {
    var target = event.target? event.target : event.srcElement;
    transaction_id = target.id.replace("void_deposit_","");
    $('form#void_deposit input#transaction_id').val(transaction_id);
  });
  
  $('button.void_withdraw_btn').click(function() {
    var target = event.target? event.target : event.srcElement;
    transaction_id = target.id.replace("void_withdraw_","");
    $('form#void_withdraw input#transaction_id').val(transaction_id);
  });

  $('button.void_manual_deposit_btn').click(function() {
    var target = event.target? event.target : event.srcElement;
    transaction_id = target.id.replace("void_manual_deposit_","");
    $('form#void_manual_deposit input#transaction_id').val(transaction_id);
  });

  $('button.void_manual_withdraw_btn').click(function() {
    var target = event.target? event.target : event.srcElement;
    transaction_id = target.id.replace("void_manual_withdraw_","");
    $('form#void_manual_withdraw input#transaction_id').val(transaction_id);
  });

   





</script>

<%= javascript_include_tag "pagination" %>
