  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Search Result </h2>
    </header>
  <div>
  <div class="widget-body no-padding">
    <% if true %>
    <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%">
      <thead>
        <th>Transaction ID</th>
        <th>Player Name</th>
        <th>Player ID</th>
        <th>Accounting Date</th>
        <th>Date</th>
        <th>Shift</th>
        <th>Location</th>
        <th>Employee ID</th>
        <th>Status</th>
        <th>Deposit</th>
        <th>Withdrawal</th>
        <th>Action</th>
      </thead>
      <% 10.times do |i| %>
        <tr>
          <td><%= i %></td>
          <td><%= "player_name"+i.to_s %></td>
          <td><%= i %></td>
          <td><%= Time.now.utc%></td>
          <td><%= Time.now.utc %></td>
          <td><%= "Morning" %></td>
          <td><%= "window#1" %></td>
          <td><%= 123456 %></td>
          <td><%= "Complete" %></td>
          <td><%= 100000 %></td>
          <td><%= 100000 %></td>
          <td><button>reprint</button>
        </tr>
      <% end %>
    </table>
    <% else %>
      <p> no result </p>
    <% end %>
  </div>
</div>

