<%= form_tag(create_station_path, :remote => true, :id => "search_form") do %>

            <fieldset>
              <div class="row">
                
                <div class="col-sm-2">
                  <section class="smart-form">
                    <label class="label"><%= t("station.location") %></label>
                    <label class="select">
                      <select class="input-sm" name="location_id" id="location_id">
                        <% locations.each do |location| %>
                          <option value=<%= location.id %>><%= location.name %></option>
                        <% end %>
                      </select>
                    </label>
                  </section>
                </div>

                <div class="col-sm-2">
                  <section class="smart-form">
                    <label class="label"><%= t("station.station") %></label>
                    <label class="input">
                      <%= text_field_tag(:name) %>
                    </label>
                  </section>
                </div>
            
                <div class="col-sm-2">
                  <section class="smart-form">
                    <label class="label" style='visibility: hidden;'><%= t("button.add") %></label>
                  </section>
                  <%= submit_tag t("button.add"), :class => "btn btn-primary", :remote => true  %>
                </div>
                
            </fieldset>

<% end %>
