          <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%" height="100%">
            <thead>
              <th><%= t("station.station_id")%></th>
              <th><%= t("station.location")%></th>
              <th><%= t("station.station")%></th>
              <th><%= t("station.machine")%></th>
              <th><%= t("station.updated_at")%></th>
              <th><%= t("station.operation")%></th>
            </thead>
            <tbody>
                      <% if stations.length > 0 && stations[0].status == "active" 
                          target_status = "inactive"
                          action_str = "disable"
                        else
                          target_status = "active"
                          action_str = "enable"
                        end
                      %>
              <% stations.each do |station| %>
                <tr id="station_<%= station.id %>">
                  <% location = Location.find(station.location_id) %>
                  <td><%= station.id %></td>
                  <td><%= location.name %></td>
                  <td><%= station.name %></td>
                  <td><%= station.machine_id%></td>
                  <td><%= station.updated_at %></td>
                  <td>
                  <div>
                  <% pop_up_btn :id => "change_station_status_" + station.id.to_s, :str => t("button." + action_str), :form_id => "change_station_status", :style => "change_station_status_btn" do %>
                    <p><%= t("confirm_box." + action_str + "_station", {:name => location.name + "-" + station.name}) %></p>
                  <% end %>
                    
                  <% if station.machine_id.nil? %>
                    <% pop_up_btn :id => "register_machine_" + station.id.to_s, :str => t("button.register"), :form_id => "register_machine", :style => "register_machine_btn" do %>
                      <div style="height: 60%; vertical-align: middle; padding: 30px;" align="center">
                        <table>
                          <tr>
                            <td><p><%= t("machine_id.confirm_reg1") %>&nbsp</p></td>
                            <td><p id="machine_id"></p></td> 
                            <td><p>&nbsp<%= t("machine_id.confirm_reg2", {:name => location.name + "-" + station.name}) %></p></td> 
                          </tr>
                        </table>
                      </div>
                    <% end %>
                  <% else %>
                    <% pop_up_btn :id => "unregister_machine_" + station.id.to_s, :str => t("button.unregister"), :form_id => "unregister_machine", :style => "unregister_machine_btn" do %>
                      <div style="height: 60%; vertical-align: middle; padding: 30px;" align="center">
                        <table>
                          <tr>
                            <td><p><%= t("machine_id.confirm_unreg", {:name => station.full_name, :machine_id => station.machine_id}) %></p></td>
                          </tr>
                        </table>
                      </div>
                    <% end %>
                  <% end %>
                  </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= form_tag(change_station_status_path, :remote => true, :id => "change_station_status", :style => 'display: none;') do |f|%>
          <%= hidden_field_tag :station_id, 0 %>
          <%= hidden_field_tag :target_status, target_status %>
        <% end %>
        <%= form_tag(register_machine_path, :remote => true, :id => "register_machine", :style => 'display: none;') do |f|%>
          <%= hidden_field_tag :station_id, 0 %>
          <%= hidden_field_tag :machine_id, 0 %>
        <% end %>
        <%= form_tag(unregister_machine_path, :remote => true, :id => "unregister_machine", :style => 'display: none;') do |f|%>
          <%= hidden_field_tag :station_id, 0 %>
        <% end %>

<%= javascript_include_tag "machine.id.js" %>
<script type='text/javascript'>
  function updateChangeStatusForm(station_id){
    $('form#change_station_status input#station_id').val(station_id);
  }
  
  $('button.change_station_status_btn').click(function() {
    station_id = event.target.id.replace("change_station_status_","");
    updateChangeStatusForm(station_id);
  });
  
  function updateMachineId(station_id,machine_id){
    $('form#register_machine input#machine_id').val(machine_id);
    $('form#register_machine input#station_id').val(station_id);
    $('form#unregister_machine input#station_id').val(station_id);
    $('#pop_up_dialog #machine_id').text(machine_id);
  }
  
  $('button.register_machine_btn').click(function() {
    machine_id = getMachineId();
    station_id = event.target.id.replace("register_machine_","");
    updateMachineId(station_id,machine_id);
  });

  $('button.unregister_machine_btn').click(function() {
    station_id = event.target.id.replace("unregister_machine_","");
    updateMachineId(station_id,machine_id);
  });

</script>
