          <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%" height="100%">
            <thead>
              <th><%= t("station.station_id")%></th>
              <th><%= t("station.location")%></th>
              <th><%= t("station.station")%></th>
              <th><%= t("station.terminal")%></th>
              <th><%= t("station.updated_at")%></th>
              <th><%= t("station.operation")%></th>
            </thead>
            <tbody>
              <% if stations.length > 0 %> 
                <% target_status = StationHelper::STATUS_HELPER[stations[0].status.to_sym][:opposite] %>
                <% action_str = StationHelper::STATUS_HELPER[target_status.to_sym][:action_str] %>
              <% end %>
              <% stations.each do |station| %>
                <tr id="station_<%= station.id %>">
                  <% location = Location.find(station.location_id) %>
                  <td><%= station.id %></td>
                  <td><%= location.name %></td>
                  <td><%= station.name %></td>
                  <td><%= station.terminal_id%></td>
                  <td><%= format_time(station.updated_at) %></td>
                  <td>
                  <div>
                    <% if policy(Station.new).change_status? %>
                      <% pop_up_btn :id => "change_station_status_" + station.id.to_s, :str => t("button." + action_str), :form_id => "change_station_status", :style => "change_station_status_btn" do %>
                        <p><%= t("confirm_box." + action_str + "_station", {:name => location.name + "-" + station.name}) %></p>
                      <% end %>
                    <% end %>
                    <% if policy(Station.new).register? %>
                      <% if station.terminal_id.nil? %>
                        <% pop_up_btn :id => "register_terminal_" + station.id.to_s, :str => t("button.register"), :form_id => "register_terminal", :style => "register_terminal_btn" do %>
                          <div style="height: 60%; vertical-align: middle; padding: 30px;" align="center">
                            <table>
                              <tr>
                                <td><p><%= t("terminal_id.confirm_reg1") %>&nbsp</p></td>
                                <td><p id="terminal_id"></p></td> 
                                <td><p>&nbsp<%= t("terminal_id.confirm_reg2", {:name => location.name + "-" + station.name}) %></p></td> 
                              </tr>
                            </table>
                          </div>
                        <% end %>
                      <% else %>
                        <% pop_up_btn :id => "unregister_terminal_" + station.id.to_s, :str => t("button.unregister"), :form_id => "unregister_terminal", :style => "unregister_terminal_btn" do %>
                          <div style="height: 60%; vertical-align: middle; padding: 30px;" align="center">
                            <table>
                              <tr>
                                <td><p><%= t("terminal_id.confirm_unreg", {:name => station.full_name, :terminal_id => station.terminal_id}) %></p></td>
                              </tr>
                            </table>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= form_tag(change_station_status_path, :remote => true, :id => "change_station_status", :style => 'display: none;') do |f|%>
          <%= hidden_field_tag :station_id, 0 %>
          <%= hidden_field_tag :target_status, target_status %>
        <% end %>
        <%= form_tag(register_terminal_path, :remote => true, :id => "register_terminal", :style => 'display: none;') do |f|%>
          <%= hidden_field_tag :station_id, 0 %>
          <%= hidden_field_tag :terminal_id, 0 %>
        <% end %>
        <%= form_tag(unregister_terminal_path, :remote => true, :id => "unregister_terminal", :style => 'display: none;') do |f|%>
          <%= hidden_field_tag :station_id, 0 %>
        <% end %>

<script type='text/javascript'>
  function updateChangeStatusForm(station_id){
    $('form#change_station_status input#station_id').val(station_id);
  }
  
  $('button.change_station_status_btn').click(function() {
    station_id = event.target.id.replace("change_station_status_","");
    updateChangeStatusForm(station_id);
  });
  
  function updateTerminalId(station_id,terminal_id){
    $('form#register_terminal input#terminal_id').val(terminal_id);
    $('form#register_terminal input#station_id').val(station_id);
    $('form#unregister_terminal input#station_id').val(station_id);
    $('#pop_up_dialog #terminal_id').text(terminal_id);
  }
  
  $('button.register_terminal_btn').click(function() {
    terminal_id = getTerminalID();
    station_id = event.target.id.replace("register_terminal_","");
    updateTerminalId(station_id,terminal_id);
  });

  $('button.unregister_terminal_btn').click(function() {
    station_id = event.target.id.replace("unregister_terminal_","");
    updateTerminalId(station_id,terminal_id);
  });

</script>
