          <%= form_tag(search_front_money_path, :remote => true, :id => "search_form") do %>
            <fieldset>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
                  <%= render "shared/date_picker" %>
                </div>
                <!-- <div class="col-sm-6">
                  <section class="smart-form">
                    <label class="label"><%= t("shift.name") %></label>
                    <label class="select">
                      <select class="input-sm" name="shift_name" id="shift_name">
                      <% @shift_name_list.each do |shift_name| %>
                        <option value=<%="#{shift_name}" %> <%= selected="selected" if @shift_name == shift_name %>>
                          <%= t("shift_name.#{shift_name}") %>
                        </option>
                      <% end %>
                      </select>
                      <i></i>
                    </label>
                  </section>
                </div> -->
              </div>
                
              
            <div class="form-actions">
              <div class="row">
                <div class="col-md-12">
                  <%= submit_tag t("button.search"),:id => "search", :class => "btn btn-primary", :remote => true  %>
                </div>
              </div>
            </div>
          <% end %>

          <script type="text/javascript">
            $("#search").click(function(){
              document.getElementById('flash_message').className = 'col-xs-12 col-sm-8 col-md-6 col-lg-4';
              document.getElementById('flash_message').style.marginLeft = '0px';
            });    
          </script>