<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>Search Result </h2>
  </header>
  <div>
    <div class="widget-body no-padding">
      <% if @player_transactions.length > 0 %>
        <div id="fm_search_result">
          <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%" height="100%">
            <thead>
                <th><%= t("transaction_history.slip_no")%></th>
                <!-- <th><%= t("transaction_history.member_name")%></th> -->
                <th><%= t("transaction_history.member_id")%></th>
                <th><%= t("transaction_history.accounting_date")%></th>
                <th><%= t("transaction_history.date")%></th>
                <!-- <th><%= t("transaction_history.shift")%></th> -->
                <th><%= t("transaction_history.location")%></th>
                <th><%= t("transaction_history.name")%></th>
                <th><%= t("transaction_history.status")%></th>
                <th><%= t("transaction_history.deposit")%></th>
                <th><%= t("transaction_history.withdrawal")%></th>
                <th><%= t("transaction_history.balance")%></th>
            </thead>
            <% 
              grand_deposit = 0
              grand_withdraw = 0
              @player_transactions.each do |t| 
            %>
              <tr id="transaction_<%= t.id %>">
                <td><%= t.slip_number %></td>
                <!-- <td><%= t.player.full_name.upcase %></td> -->
                <td><%= t.player.member_id %></td>
                <td><%= t.shift.accounting_date%></td>
                <td><%= format_time(t.created_at) %></td>
                <!-- <td><%= t.shift.name %></td> -->
                <td><%= t.location %></td>
                <td><%= t.user.name %></td>
                <td><%= t.status %></td>
                <td><%= t.deposit_amt_str %></td>
                <td><%= t.withdraw_amt_str %></td>
                <td><%= to_display_amount_str(t.amount) %></td>
              </tr>
              <%
                if t.status == 'completed'
                  if t.transaction_type_id ==1
                    grand_deposit += t.amount
                  else
                    grand_withdraw += t.amount
                  end
                end
              %>
            <% end %>
          </table>
          
          <table id="datatable_col_reorder2" class="table table-striped table-bordered table-hover" width="100%" height="100%">
            <thead>
                <th></th>
                <th><%= t("transaction_history.deposit")%></th>
                <th><%= t("transaction_history.withdrawal")%></th>
                <th><%= t("transaction_history.balance")%></th>
            </thead>
            <tr>
              <td><%= t("fm_activity.grand_total")%></td>
              <td><%=to_display_amount_str(grand_deposit) %></td>
              <td><%=to_display_amount_str(grand_withdraw) %></td>
              <td><%=report_balance(grand_deposit - grand_withdraw) %></td>
            </tr>
          </table>
        </div>
        <% if policy(:Shift).print_fm? %>
          <div>
            <button id="print_fm" class="btn btn-primary pull-right"><%= t("button.print") %></button>
          </div>
        <% end %>
      <% else %>
        <br/>
        <br/>
        <label style="margin-left: 10px"> <%= t("report_search.no_transaction_found")%> </label>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "print.js" %>

<script>
  function trimToPrintContent(raw) {
    $('table', raw).css("border","1px solid");
    $('table', raw).attr('height', 10);
    $('table', raw).attr('rules', 'all');
    $('table', raw).attr('cellpadding', 5);
    $('table', raw).css("margin-bottom","15px");
  }
  var raw_result = $('div#fm_search_result').clone();
  trimToPrintContent(raw_result);
  var content = raw_result.html();
  $(document).ready(function() {
    $('button#print_fm').click(function() {

      printHtml(content, true, 'FM Activity Report', true);

      return false;
    });
  });
</script>
<%= javascript_include_tag "pagination.js" %>
