<%=form_for :player_transaction, url: withdraw_path, html: { id: "fund_request", autocomplete: :off  } do |f| %>
  <div>
    <%= hidden_field(:player, :member_id) %>
  </div>

  <div class="row" style="margin-bottom: 8px;">
    <div><label class="col-xs-5 box"><strong><%= t("player.withdrawal") %> <%= t("general.casino") %>:</strong></label></div>
    <div><label class="col-xs-5 box"><%= render 'shared/current_casino_widget' %></label></div>
  </div>

  <div class="row">
    <label class="col-xs-4 box"><strong><%= t("deposit_withdrawal.payment_method_type")%>:</strong></label></td>
     <select  name="payment_method_type_select" id="player_transaction_payment_method_type">
        <option value=""> -- select an option -- </option>
        <% @payment_method.each do |method| %>
          <% if method.name != 'N/A' %>
            <option value=<%= method.id %>><%= method.name %></option>
          <% end %>
        <% end %>
      </select>
      <%= hidden_field_tag(:payment_method_type, @payment_method_type) %>
    <br>

    <div class='col-xs-4 box' style='width:300px; right:10px'>
      <label class='invisible_error' id='type_error'>
        <%= t("invalid_amt.payment_method_type") %>
      </label>
    </div>
  </div>

  <div class="row">
    <label class="col-xs-4 box"><strong><%= t("deposit_withdrawal.#{@action.split('_')[0]}_amount")%>:</strong></label></td>
    <%= f.text_field :amount, required: true, autofocus: true, pattern: '^\d+(\.\d{1,2})?$', :id => "player_transaction_amount", :oninput => "return ValidateFloat($(this),value)", :class => "col-xs-4 box", :value => @player_transaction_amount %>
        <div class='col-xs-4 box'>
          <label class='invisible_error' id='amount_error'>
            <%= t("invalid_amt."+@action) %>
          </label>
        </div>
  </div>
  <div class="row">
    <label class="col-xs-4 box"><strong><%= t("deposit_withdrawal.remark")%>:</strong></label></td>
    <%= f.text_area :deposit_reason, :id => "player_transaction_textarea", :class => "col-xs-4 box", :style => "margin-bottom: 4px; resize: none; width: 300px", :maxlength => 400, cols: "6", rows: "10", :value => @deposit_reason%>
  </div>
  <input type="text" id="exception_transaction" name="exception_transaction" value=<%= @exception_transaction %> style="display:none" readonly>
<% end %>

<script>
  $(document).ready(function() {
    $('player_transaction_textarea[autofocus="autofocus"]').focus();
    $('input[autofocus="autofocus"]').focus();
    <% if @authorize_result == 'yes' %>
      $("select#player_transaction_payment_method_type").val("<%= @payment_method_type %>");
      $('#player_transaction_payment_method_type').attr("disabled", true);
      $('#player_transaction_amount').prop('readonly', true);
      $('#player_transaction_textarea').prop('readonly', true);
    <% end %>

    $("#player_transaction_payment_method_type").change(function(event) {
      var payment_method_type = $('#player_transaction_payment_method_type').val();
      $('#payment_method_type').val(payment_method_type);
    });
  });
</script>
