<style>
  td.cage_info_title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
  }

  td.cage_info_content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
  }
</style>
<table align='center'>
  <tr>
    <td class='cage_info_title'><%= t("general.casino") %>:</td>
    <td class='cage_info_content'><%= render 'shared/current_casino_widget' %></td>
    <td></td>
  </tr>
  <tr>
    <td class='cage_info_title'><%= t("general.zone_and_location") %>:</td>
    <td class='cage_info_content'><%= render 'shared/current_location_widget' %></td>
    <td></td>
  </tr>
  <tr>
    <td class='cage_info_title'><%= t("ac_date.name") %>:</td>
    <td class='cage_info_content'><%= render 'shared/current_accounting_date_widget' %></td>
    <td></td>
  </tr>
  <tr>
    <td class='cage_info_title'>Calendar Date: <%= @time_zone%> </td>
    <td class='cage_info_content'><div id="local_date_time"/></td>
    <td></td>
  </tr>
</table>

<%= javascript_include_tag "date.time.helper.js" %>

<script>
  function updateInfo() {
    var localDateTimeStr = getDateTimeStr(<%= @time_zone %>);
    var time_zone = <%= @time_zone %>;

    $('#local_date_time').html(localDateTimeStr);

    setTimeout(updateInfo, 1000);
  }

  updateInfo();
</script>
