<div id="button_set">
  <%= close_to_balance %>
  <% pop_up_btn :id => "confirm_#{@action}", :str => t("button.confirm"), :form_id => "fund_request", :style => "confirm_fund_btn", :form_valid_function => "formValid()" do %>
    <p><%= t("deposit_withdrawal."+@action+"_amt") %></p>
    <p style="font-size: 18px;" id="fund_amt"></p>
    <% if ['deposit','withdraw'].include?(@action) %>
      <label id="remain_limit_alert" class="invisible_error"><%= t("deposit_withdrawal.exceed_remain_limit") %></label>
      <label id="authorize_alert" class="invisible_error"><%= t("deposit_withdrawal.need_authorize") %></label>
    <% end %>
    <% if @action == 'withdraw' and @exception_transaction == 'no' %>
      <form class="form-horizontal" id="validate_pin_form">
        <div class="form-group">
            <label for="inputPIN" class="col-sm-5 control-label" id="pin_label"><strong>PIN:</strong></label>
            <div class="col-sm-3">
              <%= text_field_tag 'player_pin', nil, :form => "fund_request", :type => "password" ,:autocomplete => "off"%>
            </div>
        </div>
      </form>
    <% elsif @action == 'credit_deposit' %>
      <label id="credit_limit_alert" class="invisible_error"><%= t("credit_deposit_expire.exceed_limit") %></label>

    <% end %>
  <% end %>
</div>

<%= javascript_include_tag "format.number.js" %>
<script type='text/javascript'>
  function updateConfirmAmt(){
    amt = $('#player_transaction_amount').val()
    $('#pop_up_content #fund_amt').text(formatNum(amt));
  }

  function formValid(){
  <% if @action == 'deposit' %>
    return amountValid() && typeValid() && sourceValid();
  <% elsif @action == 'withdraw' %>
    return amountValid() && typeValid();
  <% else %>
    return amountValid();
  <% end %>
  }

  function amountValid(){
    amt = $('#player_transaction_amount').val().replace(/0+[.]?/,"");
    return amt != ""
  }

  function typeValid(){
    type = $('#player_transaction_payment_method_type').val().replace(/0+[.]?/,"");
    return type != ""
  }

  function sourceValid(){
    source = $('#player_transaction_source_of_funds').val().replace(/0+[.]?/,"");
    return source != ""
  }

  function showAmountError(){
    $("label#amount_error").css('visibility', 'visible');
    $("label#amount_error").css('display', 'block');
  }

  function hideAmountError(){
    $("label#amount_error").css('visibility', 'hidden');
    $("label#amount_error").css('display', 'none');
  }

  function showTypeError(){
    $("label#type_error").css('visibility', 'visible');
    $("label#type_error").css('display', 'block');
  }

  function hideTypeError(){
    $("label#type_error").css('visibility', 'hidden');
    $("label#type_error").css('display', 'none');
  }

  function showSourceError(){
    $("label#source_error").css('visibility', 'visible');
    $("label#source_error").css('display', 'block');
  }

  function hideSourceError(){
    $("label#source_error").css('visibility', 'hidden');
    $("label#source_error").css('display', 'none');
  }
  //function emojiControl(){
  //  ("textarea#textarea").val().replace(/\uD83C[\uDF00-\uDFFF]|\uD83D[\uDC00-\uDE4F\uDE80-\uDEFF]/g,'');
 // }

<% if @action == 'credit_deposit' %>
  function updateLimitAlert(){
    var limit = <%= @credit_limit %>;
    var amt = $('#player_transaction_amount').val();
    if(amt > limit){
      $("label#credit_limit_alert").css('visibility', 'visible');
      $("label#credit_limit_alert").css('display', 'block');
      $("button#confirm").attr('disabled','disabled');
    }else{
      $("label#credit_limit_alert").css('visibility', 'hidden');
      $("label#credit_limit_alert").css('display', 'none');
      $("button#confirm").removeAttr('disabled');
    }
  }
<% elsif ['deposit','withdraw'].include?(@action) %>
  function updateRemainAlert(){
    var limit = <%= cents_to_dollar(@remain_limit) %>;
    var amt = $('#player_transaction_amount').val();
    if(amt >= limit){
      $("label#remain_limit_alert").css('visibility', 'visible');
      $("label#remain_limit_alert").css('display', 'block');
    }else{
      $("label#remain_limit_alert").css('visibility', 'hidden');
      $("label#remain_limit_alert").css('display', 'none');
    }
  }

  function updateAuthorizeAlert(){
    var extra_amount = <%= @extra_amount %>;
    var authorize_result = "<%= @authorize_result %>";
    var amt = $('#player_transaction_amount').val();
    if(amt < extra_amount || authorize_result == 'yes'){
      $("label#authorize_alert").css('visibility', 'hidden');
      $("label#authorize_alert").css('display', 'none');
    }else{
      $("label#authorize_alert").css('visibility', 'visible');
      $("label#authorize_alert").css('display', 'block');
    }
  }

  function updateValidatePinForm(){
    var extra_amount = <%= @extra_amount %>;
    var authorize_result = "<%= @authorize_result %>";
    var amt = $('#player_transaction_amount').val();
    if(amt < extra_amount || authorize_result == 'yes'){
      $("form#validate_pin_form").css('visibility', 'visible');
      $("form#validate_pin_form").css('display', 'block');
      $("input#player_pin").removeAttr('disabled');
    }else{
      $("form#validate_pin_form").css('visibility', 'hidden');
      $("form#validate_pin_form").css('display', 'none');
      $("input#player_pin").attr('disabled','disabled');
    }
  }
<% end %>

  $('#confirm_credit_deposit, #confirm_credit_expire').click(function() {
    if(amountValid()){
      hideAmountError();

      updateConfirmAmt();
    <% if  @action == 'credit_deposit' %>
      updateLimitAlert();
    <% elsif ['deposit','withdraw'].include?(@action) %>
      updateRemainAlert();
    <% end %>
    }
    else {
      showAmountError();
    }
    return false;
  });

  $('#confirm_withdraw').click(function() {
    if(amountValid() && typeValid()){
      hideAmountError();
      hideTypeError();
      updateConfirmAmt();
      updateRemainAlert();
      updateAuthorizeAlert();
      updateValidatePinForm();
    }
    else if ( !amountValid() && !typeValid()){
      showAmountError();
      showTypeError();
    }
    else if( !amountValid()){
      showAmountError();
      hideTypeError();
    }
    else if( !typeValid()){
      showTypeError();
      hideAmountError();
    }
    return false;
  });

  $('#confirm_deposit').click(function() {
     if(amountValid() && typeValid() && sourceValid()){
       hideAmountError();
       hideTypeError();
       hideSourceError();
       updateConfirmAmt();
       //emojiControl();
     <% if ['deposit','withdraw'].include?(@action) %>
       updateRemainAlert();
       updateAuthorizeAlert();
     <% end %>
     }
     else if (!amountValid() && !typeValid() && !sourceValid()){
       showAmountError();
       showTypeError();
       showSourceError();
     }
     else if ( !amountValid() && !typeValid()){
       showAmountError();
       showTypeError();
       hideSourceError();
     }
     else if ( !amountValid() && !sourceValid()){
       showAmountError();
       showSourceError();
       hideTypeError();
     }
     else if ( !sourceValid() && !typeValid()){
       showSourceError();
       showTypeError();
       hideAmountError();
     }
     else if( !amountValid()){
       showAmountError();
       hideTypeError();
       hideSourceError();
     }
     else if( !typeValid()){
       showTypeError();
       hideAmountError();
       hideSourceError();
     }
     else if( !sourceValid()){
       showSourceError();
       hideAmountError();
       hideTypeError();
     }
     return false;
   });

</script>



