<div id="button_set">
  <%= close_to_balance %>
  <% pop_up_btn :id => "confirm_#{@action}", :str => t("button.confirm"), :form_id => "fund_request", :style => "confirm_fund_btn", :form_valid_function => "formValid()" do %>
    <p><%= t("deposit_withdrawal."+@action+"_amt") %></p>
    <p style="font-size: 18px;" id="fund_amt"></p>
    <% if @action == 'withdraw' %>
      <form class="form-horizontal">
        <div class="form-group">
            <label for="inputPIN" class="col-sm-5 control-label" id="pin_label"><strong>PIN:</strong></label>
            <div class="col-sm-3">
              <%= text_field_tag 'player_transaction[pin]', nil, :form => "fund_request", :type => "password" ,:autocomplete => "off"%>
            </div>
        </div>
      </form>
    <% elsif @action == 'credit_deposit' %>
      <label id="credit_limit_alert" class="invisible_error"><%= t("credit_deposit_expire.exceed_limit") %></label>
    <% end %>
  <% end %>
</div>

<%= javascript_include_tag "format.number.js" %>
<script type='text/javascript'>
  function updateConfirmAmt(){
    amt = $('#player_transaction_amount').val()
    $('#pop_up_content #fund_amt').text(formatNum(amt));
  }
  
  function formValid(){
  <% if @action == 'deposit' %>
    return amountValid() && depositReasonValid();
  <% else %>
    return amountValid();
  <% end %>
  }

  function amountValid(){
    amt = $('#player_transaction_amount').val().replace(/0+[.]?/,"");
    return amt != ""
  }

  function showAmountError(){
    $("label#amount_error").css('visibility', 'visible');
    $("label#amount_error").css('display', 'block');
  }

  function hideAmountError(){
    $("label#amount_error").css('visibility', 'hidden');
    $("label#amount_error").css('display', 'none');
  }
<% if @action == 'credit_deposit' %>
  function updateLimitAlert(){
    var limit = <%= @credit_limit %>;
    var amt = $('#player_transaction_amount').val();
    if(amt > limit){
      $("label#credit_limit_alert").css('visibility', 'visible');
      $("label#credit_limit_alert").css('display', 'block');
      $("button#confirm").attr('disabled','disabled');
    }else{
      $("label#credit_limit_alert").css('visibility', 'hidden');
      $("label#credit_limit_alert").css('display', 'none');
      $("button#confirm").removeAttr('disabled');
    }
  }
<% end %>

  $('#confirm_deposit, #confirm_withdraw, #confirm_credit_deposit, #confirm_credit_expire').click(function() {
    if( amountValid()){
      hideAmountError();
            
      updateConfirmAmt();
    <% if  @action == 'credit_deposit' %>
      updateLimitAlert();
    <% end %>

    } else {
      showAmountError();
    }
    return false;
  });
</script>
