<% flash.each do |type, msg| %>
  <!-- only care about notice & alert type-->
  <% next unless type == :success || type == :alert || type == :error || type == :fail %>
  <div style="<%='display: none;' if type == :success || type == :fail || type == :alert%>">
  <%= content_tag :div, :class => "alert #{bootstrap_class_for(type)} fade in" do %>
    <button class="close" data-dismiss="alert">×</button>
    <div id="message_content">
      <% if msg.is_a?(Hash) %>
        <% if msg.has_key?(:key) && msg.has_key?(:replace) %>
          <%= I18n.t(msg[:key], msg[:replace]) %>
        <% else %>
          <%= 'Flash message not recognized!' %>
        <% end %>
      <% else %>
        <%= t(msg) %>
      <% end %>
    </div>
  </div>
  <% end %>
  <!--% flash.clear %-->
<% end %>
