<!-- ap_header -->
<header id="header">
  <div id="logo-group" style="padding-left: 10px;">
    <table height="100%">
      <tr style='font-weight: bold;'>
        <!-- font-size: 1.6em; -->
        <td><%= t("general.product_profolio") %> / <%= t("general.product_name") %></td>
      </tr>
    </table>
  </div>

  <div>
    <%= render partial: "shared/header_cage_info" %>
  </div>
  
  <!-- #PROJECTS: projects dropdown -->
  <div class="project-context hidden-xs">
    <span class="label"></span>
    <span id="function_dropdown_toggle" class="project-selector dropdown-toggle" data-toggle="dropdown">
    </span>

    <!-- Suggestion: populate this list with fetch and push technique -->
    <!-- end dropdown-menu-->
  </div>
  <!-- end projects dropdown -->

  <!-- pulled right: nav area -->
  <div class="pull-right">

    <!-- logout button -->
    <div id="logout" class="btn-header transparent pull-right">
      <span>
        <%= link_to(logout_path, :title => t("general.logout"), "data-action" => "userLogout", "data-action-yes" => t("logout_page.action_yes"), "data-action-no" => t("logout_page.action_no")) do %>
          <i class="fa fa-sign-out"></i>
        <% end %>
        <!--a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"></a-->
      </span>
    </div>
    <!-- end logout button -->

    <!-- multiple lang dropdown : find all flags in the flags page -->
    <ul class="header-dropdown-list hidden-xs">
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
          <%= image_tag("blank.gif", :class => "flag flag-us") %>
          <span> English (US) </span> <i class="fa fa-angle-down"></i> 
        </a>
        <ul class="dropdown-menu pull-right">
          <li class="active">
            <a href="javascript:void(0);">
              <%= image_tag("blank.gif", :class => "flag flag-us", alt: "United States") %> English (US)
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <%= image_tag("blank.gif", :class => "flag flag-cn", alt: "China") %> 中文
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- end multiple lang -->

    <!-- show user name -->
    <span class="navbar-text">
      <%= current_user.name %>
    </span>
    <!-- end show user name -->

  </div>
  <!-- end pulled right: nav area -->
</header>
