<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

  <!-- NAVIGATION : This navigation is also responsive

  To make this navigation dynamic please make sure to link the node
  (the reference to the nav > ul) after page load. Or the navigation
  will not initialize.
  -->
  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul style>
      <li id="nav_home">
        <%= link_to home_path, :title => "Home", :remote => true do %>
          <i class="fa fa-home"></i> <span class="menu-item-parent">Home</span>
        <% end %>
      </li>
      <li id="nav_create_player">
        <%= link_to new_player_path, :title => "Create Player", :remote => true do %>
          <i class="fa fa-home"></i> <span class="menu-item-parent">Create Player</span>
        <% end %>
      </li>
      <li id="nav_balance_enquiry">
        <%= link_to players_balance_path, :title => "Balance Enquiry", :remote => true do %>
          <i class="fa fa-home"></i> <span class="menu-item-parent">Balance Enquiry</span>
        <% end %>
      </li>
      <li id="nav_fund_in">
        <%= link_to fund_in_path, :title => "Deposit", :remote => true do %>
          <i class="fa fa-home"></i> <span class="menu-item-parent">Deposit</span>
        <% end %>
      </li>
      <!--
      <li id="nav_fund_out">
        <%= link_to fund_in_path, :title => "Withdrawal", :remote => true do %>
          <i class="fa fa-home"></i> <span class="menu-item-parent">Withdrawal</span>
        <% end %>
      </li>
      -->
    </ul>
  </nav>
  <span class="minifyme" data-action="minifyMenu">
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>
<!-- END NAVIGATION -->
