<div>
  <label><%= t("general.player") +" " +  t("general.name")%>:</label>
  <label><%= label_tag :player_name,@player.player_name, :id => "player_name" %></label>
</div>
<div>
  <label><%= t("general.member_id")%> :</label>
  <label><%= label_tag :player_member_id,@player.member_id, :id => "player_member_id" %></label>
</div>
<div>
  <label><%= t("general.card_id")%> :</label>
  <label><%= label_tag :player_card_id,@player.card_id, :id => "player_card_id" %></label>
</div>
