<div class="row">
<article class="col-xs-12 col-sm-8 col-md-8 col-lg-5">
  <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-12" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
    <header role="heading">
      <span class="widget-icon"> <i class="glyphicon glyphicon-user"></i> </span>
      <h2>
        <strong><%= label_tag :player_full_name, @player.full_name.upcase , :id => "player_full_name" %></strong>
      </h2>       
      <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
      <div role="content">
        <div class="jarviswidget-editbox">
        </div>
      <div class="widget-body">
        <% if show_info %>
          <div class="row">
            <div><label class="col-xs-5 box"><strong><%= t("general.card_id")%>:</strong></label></div>
            <div><label class="col-xs-5 box"><%= label_tag :player_card_id, format_card_id(@player.card_id), :id => "player_card_id" %></label></div>
          </div>
          <div class="row">
            <div><label class="col-xs-5 box"><strong><%= t("general.member_id")%>:</strong></label></div>
            <div><label class="col-xs-5 box"><%= label_tag :player_member_id, @player.member_id, :id => "player_member_id" %></label></div>
          </div>
          <div class="row">
            <div><label class="col-xs-5 box"><strong><%= t("general.status")%>:</strong></label></div>
              <div><label class="col-xs-5 box">
              <% if !@player.account_locked? %>
                <span class="badge bg-color-greenLight">
                  <%= label_tag :player_status, t("player_status.#{@player.status}"), :id => "player_status" %>
                </span>
              <% else %>
                <% @player.lock_types.each do |lock_type| %>
                  <span class="badge bg-color-red" style="margin-bottom: 5px;">
                    <%= label_tag :player_status, t("player_status.#{lock_type}"), :id => "player_#{lock_type}" %>
                  </span><br/>
                <% end %>
              <% end %>
              <% if @player.test_mode_player %>
                <span class="badge bg-color-greenLight" style="margin-bottom: 5px;">
                  <%= label_tag :player_status, t("player_status.test_mode"), :id => "player_test_mode" %>
                </span><br/>
              <% end %>
              </label></div>
            </div>
          </div>
          <div class="row">
            <div><label class="col-xs-5 box"><strong><%= t("general.currency")%>:</strong></label></div>
            <div><label class="col-xs-5 box"><%= label_tag :player_member_id, @player.currency.name, :id => "player_currency" %></label></div>
          </div>
          <% if show_remain[:deposit] %>
            <div class="row">
              <div><label class="col-xs-5 box"><strong><%= t("player.remain_deposit")%>:</strong></label></div>
              <% remain_amt = @player.remain_trans_amount(:deposit, @casino_id)
                 trans_amt = @player.trans_amount(:deposit, @casino_id)
              %>
              <div><label class="col-xs-5 box" <%= 'style=color:red;' if  remain_amt < 0 %>><%= label_tag :player_remain_deposit, "#{to_display_amount_str(trans_amt)} #{to_display_remain_str(remain_amt)}", :id => "player_remain_deposit" %></label></div>
            </div>
          <% end %>
          <% if show_remain[:withdraw] %>
            <div class="row">
              <div><label class="col-xs-5 box"><strong><%= t("player.remain_withdraw")%>:</strong></label></div>
              <% remain_amt = @player.remain_trans_amount(:withdraw, @casino_id)
                 trans_amt = @player.trans_amount(:withdraw, @casino_id)
              %>
              <div><label class="col-xs-5 box" <%= 'style=color:red;' if  remain_amt < 0 %>><%= label_tag :player_remain_withdraw, "#{to_display_amount_str(trans_amt)} #{to_display_remain_str(remain_amt)}", :id => "player_remain_withdraw" %></label></div>
            </div>
          <% end %>
        <% end %>
        <%= content %>
        </br>
        <div class="widget-footer text-left">
          <%= footer %>
        </div>
      </div>
    </div>
  </div>
</article>
</div>
