<% if policy(PlayerTransaction.new).print? %>
  <button id="print_slip">Print</button>
<% end %>
<%= link_to home_path , :title => t("button.close"), :remote => true, :id => "close_link" do %>
  <span> <%= t("button.close")%></span>
<% end %>
<%= link_to print_path , :title => t("button.Print"), :remote => true, :id => "print_link" , :style => "display: none" do %>
  <span> <%= t("button.Print")%></span>
<% end %>

<script type='text/javascript'>
  $('#print_slip').click(function() {
    $('#print_link').click()

    var w = window.open();
    var html = $("#slip").html();

    $(w.document.body).html(html);
    w.print();
    if( <%= is_close_after_print %>) {
      w.close();
    }

    return false;
  });
</script>
