<br/>
<% if policy(:PlayerTransaction).print? %>
  <button id="print_slip" class="btn btn-primary">Print</button>
<% end %>
<%= link_to balance_path + "?member_id=#{@player.member_id};exception_transaction=#{@exception_transaction}" , :title => t("button.close"), :id => "close_link", :class => "btn btn-primary" do %>
  <span> <%= t("button.close")%></span>
<% end %>
<%= link_to print_path + "?member_id=#{@player.member_id};exception_transaction=#{@exception_transaction}" , :title => t("button.Print"), :id => "print_link", :remote => true, :style => "display: none" do %>
  <span> <%= t("button.Print")%></span>
<% end %>

<%= javascript_include_tag "print.js" %>

<script type='text/javascript'>
  $('#print_slip').click(function() {
    $('#print_link').click();

    var html = $("#slip").html();

    printHtml(html, true);

    return false;
  });
</script>
