<table id="slip" width="800" frame="box">
  <tbody>
  <tr height="40"></tr>
  <tr>
    <td width="20%">Member ID:</td>
    <td width="30%"><%= @player.member_id %></td>
    <td width="20%">Transaction ID:</td>
    <td width="30%"><%=@transaction.id  %></td>
  </tr>
  <tr>
    <td width="10%">Player Name:</td>
    <td width="40%"><%=@player.player_name  %></td>
    <td width="10%">Date/Time:</td>
    <td width="40%"><%= format_time(@transaction.created_at) %></td>
  </tr>
  <tr>
    <td width="10%"></td>
    <td width="40%"></td>
    <td width="10%">Employee ID:</td>
    <td width="40%"><%= current_user.employee_id %></td>
  </tr>
  </tbody>
  <tbody>
  <tr>
    <td>
    <td >Total <%= operation %>:</td>
    <td >HK$<%= to_display_amount_str(@transaction[:amount]) %></td>
    <td>
  </tr>
    <tr>
      <td>
      <td>Patron Signature</td>
      <td colspan="2">___________________________<td/>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Qty</td>
      <td>Description</td>
      <td>Foreign Amt</td>
      <td>For Ex Rate</td>
      <td>Amount</td>
    </tr>
    <tr>
      <td><%= to_display_amount_str(@transaction[:amount]) %></td>
      <td>HKD 1 Cash</td>
      <td>HK$<%= to_display_amount_str(@transaction[:amount]) %></td>
      <td>1.00</td>
      <td>HK$<%= to_display_amount_str(@transaction[:amount]) %></td>
    </tr>
    <tr><td/><td colspan="4">--------------------------------------------END-------------------------------------</td></tr>
    <tr><td></td></tr>
    <tr></tr>
  <tr>
    <td>
    <td >Total <%= operation %>:</td>
    <td >HK$<%= to_display_amount_str(@transaction[:amount]) %></td>
    <td>
  </tr>

  </tbody>
  <tbody>
    <tr>
      <td colspan="2">___________________________<td/>
    </tr>
    <tr>
      <td>Cage Cashier</td>
      <td>ID</td>
    <tr/>
    <tr>
      <td colspan="2">___________________________<td/>
    </tr>
    <tr>
      <td>Cage Supervisor</td>
      <td>ID</td>
    <tr/>
</table>
