<div id="slip">
<style>
.floating-index {
    float: left;
    width: 12.5%;
    height: 15px;
    margin: 10px 0px 10px 0px;
    text-align:right;
    font-size: 12px;
}

.floating-content {
    float: left;
    width: 12.5%;
    height: 15px;
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 12px;
}

.floating-index2 {
    float: left;
    width: 8%;
    height: 10px;
    margin: 0px 10px 0px 10px;
    text-align:right;
    font-size: 10px;
}

.floating-content2 {
    float: left;
    width: 15%;
    height: 10px;
    margin: 0px 10px 0px 10px;
    text-align:right;
    font-size: 10px;
}

.table-content {
    float: left;
    width: 10%;
    height: 14px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: 12px;
}

.footer-content {
    float: left;
    width: 11.5%;
    height: 15px;
    margin-top: 20px;
    text-align: right;
    font-size: 15px;
}

.tit {
    float: left;
    width: 50%;
    height: 30px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

</style>
<div id="a" style="margin: 120px 0px 0px 0px; width: 297mm; height: 180mm;" >
    <h3 class="tit">Front Money <%= operation.titleize %></h3>

    <h3 class="tit">Front Money <%= operation.titleize %></h3>
    <% if operation.downcase == 'withdraw' %>
        <h3 class="tit">提款單</h3>
        <h3 class="tit">提款單</h3>
        <div class="floating-index">Member ID:<br/>會員號碼:</div>
        <div class="floating-content"><%= @player.member_id %></div>
        <div class="floating-index">Withdraw #:<br/>提款單編號:</div>
        <div class="floating-content"><%= @transaction.slip_number %></div>

        <div class="floating-index">Member ID:<br/>會員號碼:</div>
        <div class="floating-content"><%= @player.member_id %></div>
        <div class="floating-index" style="width: 10%;">Withdraw #:<br/>提款單編號:</div>
        <div class="floating-content"><%= @transaction.slip_number %></div>
    <% else %>
        <h3 class="tit">存款單</h3>
        <h3 class="tit">存款單</h3>
        <div class="floating-index">Member ID:<br/>會員號碼:</div>
        <div class="floating-content"><%= @player.member_id %></div>
        <div class="floating-index">Deposit #:<br/>存款單編號:</div>
        <div class="floating-content"><%= @transaction.slip_number %></div>

        <div class="floating-index">Member ID:<br/>會員號碼:</div>
        <div class="floating-content"><%= @player.member_id %></div>
        <div class="floating-index" style="width: 10%;">Deposit #:<br/>存款單編號:</div>
        <div class="floating-content"><%= @transaction.slip_number %></div>
    <% end %>

    <div class="floating-index">Windows #:<br/>窗口號碼:</div>
    <div class="floating-content"><%= @transaction.location %></div>
    <div class="floating-index">Date/Time:<br/>日期/時間:</div>
    <div class="floating-content"><%= format_time_slip(@transaction.created_at) %></div>

    <div class="floating-index">Windows #:<br/>窗口號碼:</div>
    <div class="floating-content"><%= @transaction.location %></div>
    <div class="floating-index" style="width: 10%;">Date/Time:<br/>日期/時間:</div>
    <div class="floating-content"><%= format_time_slip(@transaction.created_at) %></div>
    <% if operation.downcase == 'withdraw' %>
      <div class="floating-index"></div>
      <div class="floating-content"></div>
      <div class="floating-index">Cage Employee ID:<br/>帳房員工號碼:</div>
      <div class="floating-content"><%= !@transaction.user.nil? ? @transaction.user.name : 'System' %></div>

      <div class="floating-index"></div>
      <div class="floating-content"></div>
      <div class="floating-index" style="width: 10%;">Cage Employee ID:<br/>帳房員工號碼:</div>
      <div class="floating-content"><%= !@transaction.user.nil? ? @transaction.user.name : 'System' %></div>
    <% else %>
      <div class="floating-index">Deposit handle by:<br/>存款協助:</div>
      <div class="floating-content"><%= @transaction.data_hash[:deposit_reason] %></div>
      <div class="floating-index">Cage Employee ID:<br/>帳房員工號碼:</div>
      <div class="floating-content"><%= !@transaction.user.nil? ? @transaction.user.name : 'System' %></div>
      <div class="floating-content"><%= @transaction.user.name %></div>

      <div class="floating-index">Deposit handle by:<br/>存款協助:</div>
      <div class="floating-content"><%= @transaction.data_hash[:deposit_reason] %></div>
      <div class="floating-index" style="width: 10%;">Cage Employee ID:<br/>帳房員工號碼:</div>
      <div class="floating-content"><%= !@transaction.user.nil? ? @transaction.user.name : 'System' %></div>
    <% end %>

  <br/>

    <h2 class="floating-index" style="width: 15%; font-size: 15px;">Total <%= operation.titleize %>:</h2>
    <h2 class="floating-content" style="width: 35%; text-align: left; font-size: 15px;">HK$<%= to_display_amount_str(@transaction[:amount]) %></h2>

    <h2 class="floating-index" style="width: 15%; font-size: 15px;">Total <%= operation.titleize %>:</h2>
    <h2 class="floating-content" style="width: 35%; text-align: left; font-size: 15px;">HK$<%= to_display_amount_str(@transaction[:amount]) %></h2>

    <div class="floating-index">Patron Signature<br/>顧客簽名</div>
    <div class="floating-content" style="width: 37.5%;"><br/>_____________________________________________</div>
    <div class="floating-index">Patron Signature<br/>顧客簽名</div>
    <div class="floating-content" style="width: 37.5%;"><br/>_____________________________________________</div>
    
    <div class="floating-index"></div>
    <% if operation == 'withdraw' %>
        <div class="floating-content" style="width: 37.5%; font-size: 12px;">By signing above, I acknowledge the receipt of funds previously placed on Deposit.<br/>本人確認已簽收上述存款之款項</div>
        <div class="floating-index"></div>
        <div class="floating-content" style="width: 37.5%; font-size: 12px;">By signing above, I acknowledge the receipt of funds previously placed on Deposit.<br/>本人確認已簽收上述存款之款項</div>
    <% else %>
        <div class="floating-content" style="width: 37.5%; font-size: 12px;"><br/></div>
        <div class="floating-index"></div>
        <div class="floating-content" style="width: 37.5%; font-size: 12px;"><br/></div>
    <% end %>

    <div class="table-content">Qty<br/>數量</div>
    <div class="table-content">Description<br/>項目</div>
    <div class="table-content">Foreign Amt<br/>外幣面額</div>
    <div class="table-content">For Ex. Rate<br/>兌換率</div>
    <div class="table-content">Amount<br/>面額</div>

    <div class="table-content">Qty<br/>數量</div>
    <div class="table-content">Description<br/>項目</div>
    <div class="table-content">Foreign Amt<br/>外幣面額</div>
    <div class="table-content">For Ex. Rate<br/>兌換率</div>
    <div class="table-content">Amount<br/>面額</div>

    <div class="table-content"><%= to_display_amount_str(@transaction[:amount])%></div>
    <div class="table-content">HKD 1 Cash</div>
    <div class="table-content">HK$ <%= to_display_amount_str(@transaction[:amount]) %></div>
    <div class="table-content">1.00</div>
    <div class="table-content">HK$<%= to_display_amount_str(@transaction[:amount]) %></div>

    <div class="table-content"><%= to_display_amount_str(@transaction[:amount])%></div>
    <div class="table-content">HKD 1 Cash</div>
    <div class="table-content">HK$ <%= to_display_amount_str(@transaction[:amount]) %></div>
    <div class="table-content">1.00</div>
    <div class="table-content">HK$<%= to_display_amount_str(@transaction[:amount]) %></div>

    <div class="table-content"></div>
    <div class="table-content"></div>
    <div class="table-content" style="margin: 0px 10px 0px 10px;">------END------</div>
    <div class="table-content"></div>
    <div class="table-content"></div>

    <div class="table-content"></div>
    <div class="table-content"></div>
    <div class="table-content" style="margin: 0px 10px 0px 10px;">------END------</div>

    <div class="table-content" style="width: 50%;">_________________________________________________________</div>
    <div class="table-content" style="width: 50%;">_________________________________________________________</div>

    <h3 class="floating-index" style="width: 20%; margin: 0px; font-size: 15px;">Total <%= operation.titleize  %></h3>
    <h3 class="floating-index" style="width: 20%; margin: 0px; font-size: 15px;">HK $<%= to_display_amount_str(@transaction[:amount]) %></h3>
    <h3 class="floating-index" style="width: 30%; margin: 0px; font-size: 15px;">Total <%= operation.titleize  %></h3>
    <h3 class="floating-index" style="width: 20%; margin: 0px; font-size: 15px;">HK $<%= to_display_amount_str(@transaction[:amount]) %></h3>

    <h3 class="floating-index" style="width: 20%; margin: 0px; font-size: 15px;">總數</h3>
    <h3 class="floating-index" style="width: 20%; margin: 0px;"></h3>
    <h3 class="floating-index" style="width: 30%; margin: 0px; font-size: 15px;">總數</h3>
    <h3 class="floating-index" style="width: 20%; margin: 0px;"></h3>

    <div class="table-content" style="width: 30%; margin-top: 50px; margin-bottom: 0px;">_________________________________________</div>
    <div class="table-content" style="width: 20%; margin-top: 50px; margin-bottom: 0px;"></div>
    <div class="table-content" style="width: 30%; margin-top: 50px; margin-bottom: 0px;">_________________________________________</div>
    <div class="table-content" style="width: 20%; margin-top: 50px; margin-bottom: 0px;"></div>

    <div class="floating-index2">Cage Cashier</div>
    <div class="floating-content2">ID#</div>
    <div class="floating-content2" style="width: 21.5%;"></div>
    <div class="floating-index2">Cage Cashier</div>
    <div class="floating-content2">ID#</div>
    <div class="floating-content2" style="width: 21.5%;"></div>

    <div class="floating-index2">賬房出納員</div>
    <div class="floating-content2">員工編號</div>
    <div class="floating-content2" style="width: 21.5%;"></div>
    <div class="floating-index2">賬房出納員</div>
    <div class="floating-content2">員工編號</div>

    <div class="table-content" style="width: 30%; margin-top: 50px; margin-bottom: 0px;">_________________________________________</div>
    <div class="table-content" style="width: 20%; margin-top: 50px; margin-bottom: 0px;"></div>
    <div class="table-content" style="width: 30%; margin-top: 50px; margin-bottom: 0px;">_________________________________________</div>
    <div class="table-content" style="width: 20%; margin-top: 50px; margin-bottom: 0px;"></div>

    <div class="floating-index2" style="width: 9.2%;">Cage Supervisor</div>
    <div class="floating-content2" style="width: 14%;">ID#</div>
    <div class="floating-content2" style="width: 21.5%;"></div>
    <div class="floating-index2" style="width: 9.2%;">Cage Supervisor</div>
    <div class="floating-content2" style="width: 14%;">ID#</div>
    <div class="floating-content2" style="width: 20%;"></div>

    <div class="floating-index2" style="width: 7%;">賬房主任</div>
    <div class="floating-content2" style="width: 16.2%;">員工編號</div>
    <div class="floating-content2" style="width: 21.5%;"></div>
    <div class="floating-index2" style="width: 7%;">賬房主任</div>
    <div class="floating-content2" style="width: 16.2%;">員工編號</div>
    <div class="floating-content2" style="width: 20%;"></div>

    <h3 class="footer-content">Patron Copy</h3>
    <h3 class="footer-content" style="width: 42.5%;"></h3>
    <h3 class="footer-content">Marker Bank Copy</h3>
   <h3 class="footer-content" style="width: 20%;"></h3> 
</div>


<div id="a" style="margin: 120px 0px 0px 0px; width: 297mm; height: 100mm;" >
    <h3 class="tit">Front Money <%= operation.titleize %></h3>

    <h3 class="tit">Front Money <%= operation.titleize %></h3>
    <% if operation.downcase == 'withdraw' %>
        <h3 class="tit">提款單</h3>
        <h3 class="tit">提款單</h3>
        <div class="floating-index">Member ID:<br/>會員號碼:</div>
        <div class="floating-content"><%= @player.member_id %></div>
        <div class="floating-index">Withdraw #:<br/>提款單編號:</div>
        <div class="floating-content"><%= @transaction.slip_number %></div>

        <div class="floating-index">Member ID:<br/>會員號碼:</div>
        <div class="floating-content"><%= @player.member_id %></div>
        <div class="floating-index" style="width: 10%;">Withdraw #:<br/>提款單編號:</div>
        <div class="floating-content"><%= @transaction.slip_number %></div>
    <% else %>
        <h3 class="tit">存款單</h3>
        <h3 class="tit">存款單</h3>
        <div class="floating-index">Member ID:<br/>會員號碼:</div>
        <div class="floating-content"><%= @player.member_id %></div>
        <div class="floating-index">Deposit #:<br/>存款單編號:</div>
        <div class="floating-content"><%= @transaction.slip_number %></div>

        <div class="floating-index">Member ID:<br/>會員號碼:</div>
        <div class="floating-content"><%= @player.member_id %></div>
        <div class="floating-index" style="width: 10%;">Deposit #:<br/>存款單編號:</div>
        <div class="floating-content"><%= @transaction.slip_number %></div>
    <% end %>

    

    <div class="floating-index">Windows #:<br/>窗口號碼:</div>
    <div class="floating-content"><%= @transaction.location %></div>
    <div class="floating-index">Date/Time:<br/>日期/時間:</div>
    <div class="floating-content"><%= format_time_slip(@transaction.created_at) %></div>

    <div class="floating-index">Windows #:<br/>窗口號碼:</div>
    <div class="floating-content"><%= @transaction.location %></div>
    <div class="floating-index" style="width: 10%;">Date/Time:<br/>日期/時間:</div>
    <div class="floating-content"><%= format_time_slip(@transaction.created_at) %></div>

    <% if operation.downcase == 'withdraw' %>
      <div class="floating-index"></div>
      <div class="floating-content"></div>
      <div class="floating-index">Cage Employee ID:<br/>帳房員工號碼:</div>
      <div class="floating-content"><%= !@transaction.user.nil? ? @transaction.user.name : 'System' %></div>

      <div class="floating-index"></div>
      <div class="floating-content"></div>
      <div class="floating-index" style="width: 10%;">Cage Employee ID:<br/>帳房員工號碼:</div>
      <div class="floating-content"><%= !@transaction.user.nil? ? @transaction.user.name : 'System' %></div>
    <% else %>
      <div class="floating-index">Deposit handle by:<br/>存款協助:</div>
      <div class="floating-content"><%= @transaction.data_hash[:deposit_reason] %></div>
      <div class="floating-index">Cage Employee ID:<br/>帳房員工號碼:</div>
      <div class="floating-content"><%= !@transaction.user.nil? ? @transaction.user.name : 'System' %></div>

      <div class="floating-index">Deposit handle by:<br/>存款協助:</div>
      <div class="floating-content"><%= @transaction.data_hash[:deposit_reason] %></div>
      <div class="floating-index" style="width: 10%;">Cage Employee ID:<br/>帳房員工號碼:</div>
      <div class="floating-content"><%= !@transaction.user.nil? ? @transaction.user.name : 'System' %></div>
    <% end %>

  <br/>

    <h2 class="floating-index" style="width: 15%; font-size: 15px;">Total <%= operation.titleize %>:</h2>
    <h2 class="floating-content" style="width: 35%; text-align: left; font-size: 15px;">HK$<%= to_display_amount_str(@transaction[:amount]) %></h2>

    <h2 class="floating-index" style="width: 15%; font-size: 15px;">Total <%= operation.titleize %>:</h2>
    <h2 class="floating-content" style="width: 35%; text-align: left; font-size: 15px;">HK$<%= to_display_amount_str(@transaction[:amount]) %></h2>

    <div class="floating-index">Patron Signature<br/>顧客簽名</div>
    <div class="floating-content" style="width: 37.5%;"><br/>_____________________________________________</div>
    <div class="floating-index">Patron Signature<br/>顧客簽名</div>
    <div class="floating-content" style="width: 37.5%;"><br/>_____________________________________________</div>
    
    <div class="floating-index"></div>
    <% if operation == 'withdraw' %>
        <div class="floating-content" style="width: 37.5%; font-size: 12px;">By signing above, I acknowledge the receipt of funds previously placed on Deposit.<br/>本人確認已簽收上述存款之款項</div>
        <div class="floating-index"></div>
        <div class="floating-content" style="width: 37.5%; font-size: 12px;">By signing above, I acknowledge the receipt of funds previously placed on Deposit.<br/>本人確認已簽收上述存款之款項</div>
    <% else %>
        <div class="floating-content" style="width: 37.5%; font-size: 12px;"><br/></div>
        <div class="floating-index"></div>
        <div class="floating-content" style="width: 37.5%; font-size: 12px;"><br/></div>
    <% end %>

    <div class="table-content">Qty<br/>數量</div>
    <div class="table-content">Description<br/>項目</div>
    <div class="table-content">Foreign Amt<br/>外幣面額</div>
    <div class="table-content">For Ex. Rate<br/>兌換率</div>
    <div class="table-content">Amount<br/>面額</div>

    <div class="table-content">Qty<br/>數量</div>
    <div class="table-content">Description<br/>項目</div>
    <div class="table-content">Foreign Amt<br/>外幣面額</div>
    <div class="table-content">For Ex. Rate<br/>兌換率</div>
    <div class="table-content">Amount<br/>面額</div>

    <div class="table-content"><%= to_display_amount_str(@transaction[:amount])%></div>
    <div class="table-content">HKD 1 Cash</div>
    <div class="table-content">HK$ <%= to_display_amount_str(@transaction[:amount]) %></div>
    <div class="table-content">1.00</div>
    <div class="table-content">HK$<%= to_display_amount_str(@transaction[:amount]) %></div>

    <div class="table-content"><%= to_display_amount_str(@transaction[:amount])%></div>
    <div class="table-content">HKD 1 Cash</div>
    <div class="table-content">HK$ <%= to_display_amount_str(@transaction[:amount]) %></div>
    <div class="table-content">1.00</div>
    <div class="table-content">HK$<%= to_display_amount_str(@transaction[:amount]) %></div>

    <div class="table-content"></div>
    <div class="table-content"></div>
    <div class="table-content" style="margin: 0px 10px 0px 10px;">------END------</div>
    <div class="table-content"></div>
    <div class="table-content"></div>

    <div class="table-content"></div>
    <div class="table-content"></div>
    <div class="table-content" style="margin: 0px 10px 0px 10px;">------END------</div>

    <div class="table-content" style="width: 50%;">_________________________________________________________</div>
    <div class="table-content" style="width: 50%;">_________________________________________________________</div>

    <h3 class="floating-index" style="width: 20%; margin: 0px; font-size: 15px;">Total <%= operation.titleize  %></h3>
    <h3 class="floating-index" style="width: 20%; margin: 0px; font-size: 15px;">HK $<%= to_display_amount_str(@transaction[:amount]) %></h3>
    <h3 class="floating-index" style="width: 30%; margin: 0px; font-size: 15px;">Total <%= operation.titleize  %></h3>
    <h3 class="floating-index" style="width: 20%; margin: 0px; font-size: 15px;">HK $<%= to_display_amount_str(@transaction[:amount]) %></h3>

    <h3 class="floating-index" style="width: 20%; margin: 0px; font-size: 15px;">總數</h3>
    <h3 class="floating-index" style="width: 20%; margin: 0px;"></h3>
    <h3 class="floating-index" style="width: 30%; margin: 0px; font-size: 15px;">總數</h3>
    <h3 class="floating-index" style="width: 20%; margin: 0px;"></h3>

    <div class="table-content" style="width: 30%; margin-top: 50px; margin-bottom: 0px;">_________________________________________</div>
    <div class="table-content" style="width: 20%; margin-top: 50px; margin-bottom: 0px;"></div>
    <div class="table-content" style="width: 30%; margin-top: 50px; margin-bottom: 0px;">_________________________________________</div>
    <div class="table-content" style="width: 20%; margin-top: 50px; margin-bottom: 0px;"></div>

    <div class="floating-index2">Cage Cashier</div>
    <div class="floating-content2">ID#</div>
    <div class="floating-content2" style="width: 21.5%;"></div>
    <div class="floating-index2">Cage Cashier</div>
    <div class="floating-content2">ID#</div>
    <div class="floating-content2" style="width: 21.5%;"></div>

    <div class="floating-index2">賬房出納員</div>
    <div class="floating-content2">員工編號</div>
    <div class="floating-content2" style="width: 21.5%;"></div>
    <div class="floating-index2">賬房出納員</div>
    <div class="floating-content2">員工編號</div>

    <div class="table-content" style="width: 30%; margin-top: 50px; margin-bottom: 0px;">_________________________________________</div>
    <div class="table-content" style="width: 20%; margin-top: 50px; margin-bottom: 0px;"></div>
    <div class="table-content" style="width: 30%; margin-top: 50px; margin-bottom: 0px;">_________________________________________</div>
    <div class="table-content" style="width: 20%; margin-top: 50px; margin-bottom: 0px;"></div>

    <div class="floating-index2" style="width: 9.2%;">Cage Supervisor</div>
    <div class="floating-content2" style="width: 14%;">ID#</div>
    <div class="floating-content2" style="width: 21.5%;"></div>
    <div class="floating-index2" style="width: 9.2%;">Cage Supervisor</div>
    <div class="floating-content2" style="width: 14%;">ID#</div>
    <div class="floating-content2" style="width: 20%;"></div>

    <div class="floating-index2" style="width: 7%;">賬房主任</div>
    <div class="floating-content2" style="width: 16.2%;">員工編號</div>
    <div class="floating-content2" style="width: 21.5%;"></div>
    <div class="floating-index2" style="width: 7%;">賬房主任</div>
    <div class="floating-content2" style="width: 16.2%;">員工編號</div>
    <div class="floating-content2" style="width: 20%;"></div>

    <h3 class="footer-content" style="width: 10.5%;">Cage Copy</h3>
    <h3 class="footer-content" style="width: 42.5%;"></h3>
    <h3 class="footer-content">Accounting Copy</h3>
   <h3 class="footer-content" style="width: 20%;"></h3> 
   </div>
</div>
