<%= bread_crumb("glyphicon glyphicon-retweet",t("tree_panel.shift_management"),t("tree_panel.roll_shift")) %>

<style>
  .table tr, .table td {
    border: 1px solid #CCC;
  }

  .table td.shift_info {
    text-align: left;
  }

  td.confirm_shift_info {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
</style>

<div class='roll_detail' style='width: 400px;'>
  <table class='table' style='font-size: 1.3em;'>
    <tbody>
      <tr>
        <td class='info shift_info'><b><%= t("shift.current_shift") %>:</b></td>
        <td class='warning'><%= @current_accounting_date %> (<%= t("shift_name.#{@current_shift_name}") %>)</td>
      </tr>
      <tr>
        <td class='info shift_info'><b><%= t("shift.next_shift") %>:</b></td>
        <td class=<%= @current_accounting_date == @next_accounting_date ? 'warning' : 'danger'%>><%= @next_accounting_date %> (<%= t("shift_name.#{@next_shift_name}") %>)</td>
      </tr>
    </tbody>
  </table>

  <button id="roll_shift" class="btn btn-primary"><%= t("button.roll_shift_now") %></button>
  <%= form_for :shift, remote: true, html: { id: "confirm_roll_shift_form", style: 'display: none;' } do |f| %>
    <%= f.hidden_field :current_shift_id, value: @current_shift.id %>
  <% end %>
</div>

<div id="confirm_roll_shift_dialog" style="display: none;">
  <div class="ui-dialog" style="height: 250px; width: 600px; top: 150px; left: 250px;">
    <button id="cancel" class="btn btn-default pull-right"><i class="fa fa-times"></i></button>

    <div style="height: 70%; vertical-align:middle; padding: 30px; padding-top: 50px;" align="center">
      <div class="confirm_roll_detail">
        <table style='font-size: 1.3em;'>
          <tbody>
            <tr>
              <td class='confirm_shift_info'><b><%= t("shift.current_shift") %>:</b></td>
              <td ><%= @current_accounting_date %> (<%= t("shift_name.#{@current_shift_name}") %>)</td>
            </tr>
            <tr>
              <td class='confirm_shift_info'><b><%= t("shift.next_shift") %>:</b></td>
              <td><%= @next_accounting_date %> (<%= t("shift_name.#{@next_shift_name}") %>)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div align="center" style='height: 20%;'>
      <button id="confirm" class="btn btn-primary"><%= t("shift.confirm_roll_msg") %></button>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('#roll_shift').click(function() {
      $('#confirm_roll_shift_dialog').show();
      $(this).attr('disabled', 'disabled');
    });

    $('#confirm_roll_shift_dialog button#confirm').click(function() {
      $(this).attr('disabled', 'disabled');
      $('#confirm_roll_shift_form').submit();
      setTimeout(function() {
        updateShift();
        updateAccountingDate();
      }, 2000);
    });

    $('#confirm_roll_shift_dialog button#cancel').click(function() {
      $('#confirm_roll_shift_dialog').hide();
      $('#roll_shift').removeAttr('disabled');
    });
  });
</script>
