<h1><%= t("tree_panel.roll_shift") %></h1>

<div class='roll_detail'>
  <table>
    <col width="50%">
    <tr>
      <td><h3><b><%= t("shift.current_shift") %>:</b></h3></td>
      <td><h3><%= @current_accounting_date %></h3></td>
      <td>&nbsp;</td>
      <td><h3>(<%= t("shift_name.#{@current_shift_name}") %>)</h3></td>
    </tr>
    <tr>
      <td><h3><b><%= t("shift.next_shift") %>:</b></h3></td>
      <td><h3><%= @next_accounting_date %></h3></td>
      <td>&nbsp;</td>
      <td><h3>(<%= t("shift_name.#{@next_shift_name}") %>)</h3></td>
    </tr>
  </table>
</div>

<% 2.times do %>
  <br/>
<% end %>

<button id="roll_shift" class="btn btn-primary"><%= t("button.roll_shift_now") %></button>
<%= form_for :shift, remote: true, html: { id: "confirm_roll_shift_form", style: 'display: none;' } do |f| %>
  <%= f.hidden_field :current_shift_id, value: @current_shift.id %>
<% end %>

<div id="confirm_roll_shift_dialog" style="display: none;">
  <div class="ui-dialog" style="height: 250px; width: 600px; top: 150px; left: 250px;">
    <button id="cancel" class="btn btn-default pull-right"><i class="fa fa-times"/></button>

    <div style="height: 70%; vertical-align:middle; padding: 30px;" align="center">
      <div class="confirm_roll_detail">
      </div>
    </div>

    <div align="center" style='height: 20%;'>
      <button id="confirm" class="btn btn-primary"><%= t("shift.confirm_roll_msg") %></button>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('div.confirm_roll_detail').html( $('div.roll_detail').html()  );

    $('#roll_shift').click(function() {
      $('#confirm_roll_shift_dialog').show();
      $(this).attr('disabled', 'disabled');
    });

    $('#confirm_roll_shift_dialog button#confirm').click(function() {
      $(this).attr('disabled', 'disabled');
      $('#confirm_roll_shift_form').submit();
    });

    $('#confirm_roll_shift_dialog button#cancel').click(function() {
      $('#confirm_roll_shift_dialog').hide();
      $('#roll_shift').removeAttr('disabled');
    });
  });
</script>
