<h1><%= t("tree_panel.roll_shift") %></h1>

<div class='roll_detail'>
  <table width='300'>
    <col width="70%">
    <tr>
      <td><h3><%= t("shift.current_shift") %>: </h3></td>
      <td><h3><%= t("shift.#{@current_shift_name}") %></h3></td>
    </tr>
    <tr>
      <td><h6>Current Account Date: </h6></td>
      <td><h6><%= @current_accounting_date %></h6></td>
    </tr>
    <tr>
      <td><br/></td>
    </tr>
    <tr>
      <td><h3><%= t("shift.next_shift") %>: </h3></td>
      <td><h3><%= t("shift.#{@next_shift_name}") %></h3></td>
    </tr>
    <tr>
      <td><h6>Next Account Date: </h6></td>
      <td><h6><%= @next_accounting_date %></h6></td>
    </tr>
  </table>
</div>

<% 2.times do %>
  <br/>
<% end %>

<button id="roll_shift"><%= t("button.roll_shift_now") %></button>
<%= form_for :shift, remote: true, html: { id: "confirm_roll_shift_form", style: 'display: none;' } do |f| %>
  <%= f.hidden_field :current_shift_id, value: @current_shift.id %>
<% end %>

<div id="confirm_roll_shift_dialog" style="display: none;">
  <div class="ui-dialog" style="height: 350px; width: 600px; top: 150px; left: 250px;">
    <div style="height: 70%; vertical-align:middle; padding: 30px;" align="center">
      <div class="confirm_roll_detail">
        <table>
          <tr>
            <td><h3>Roll system to next shift?</h3></td>
          </tr>
          <tr>
            <td><h3><%= t("shift.current_shift") %>:</h3></td>
            <td><h3><%= @current_accounting_date %></h3></td>
            <td><h3>(<%= t("shift.#{@current_shift_name}") %>)</h3></td>
          </tr>
          <tr>
            <td><h3><%= t("shift.next_shift") %>:</h3></td>
            <td><h3><%= @next_accounting_date %></h3></td>
            <td><h3>(<%= t("shift.#{@next_shift_name}") %>)</h3></td>
          </tr>
        </table>
      </div>
    </div>

    <div align="center" style='height: 20%;'>
      <table>
        <tr>
          <td><button id="confirm" class="btn btn-danger"><%= t("button.confirm") %></button></td>
          <td width='20%'/>
          <td><button id="cancel" class="btn btn-default"><%= t("button.cancel") %></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('#roll_shift').click(function() {
      $('#confirm_roll_shift_dialog').show();
      $(this).attr('disabled', 'disabled');
    });

    $('#confirm_roll_shift_dialog button#confirm').click(function() {
      $(this).attr('disabled', 'disabled');
      $('#confirm_roll_shift_form').submit();
    });

    $('#confirm_roll_shift_dialog button#cancel').click(function() {
      $('#confirm_roll_shift_dialog').hide();
      $('#roll_shift').removeAttr('disabled');
    });
  });
</script>
