  <% if policy(PlayerTransaction.new).deposit? %>
    <%= link_to fund_in_path + "?member_id=#{@player.member_id}" , :title => t("button.deposit"), :remote => true, :id => "balance_deposit", :class => "btn btn-primary" do %>
      <span> <%= t("button.deposit")%></span>
    <% end %>
  <% end %>
  <% if policy(PlayerTransaction.new).withdraw? %>
    <%= link_to fund_out_path + "?member_id=#{@player.member_id}" , :title => t("button.withdrawal"), :remote => true, :id => "balance_withdraw", :class => "btn btn-primary" do %>
      <span> <%= t("button.withdrawal")%></span>
    <% end %>
  <% end %>
  <% if policy(PlayerTransaction.new).search? %>
    <%= link_to search_transactions_path + "?card_id=#{@player.card_id}" , :title => t("tree_panel.player_transaction"), :remote => true, :id => "player_transaction", :class => "btn btn-primary" do %>
      <span> <%= t("tree_panel.player_transaction")%></span>
    <% end %>
  <% end %>
