<% if policy(:Player).edit? %>
  <%= link_to t("button.reset_pin"), reset_pin_path + "?member_id=#{@player.member_id}" , :title => t("button.reset_pin"), :remote => true, :id => "reset_pin", :class => "btn btn-primary" %>
<% end %>

<% if !@player.cage_locked? %>
  <% lock_or_unlock = 'lock' %>
  <% show_lock_or_unlock_btn = policy(:Player).lock? %>
<% else %>
  <% lock_or_unlock = 'unlock' %>
  <% show_lock_or_unlock_btn = policy(:Player).unlock? %>
<% end %>

<% if show_lock_or_unlock_btn %>
  <% pop_up_btn :id => "#{lock_or_unlock}_player", :str => t("button.#{lock_or_unlock}"), :form_id => "#{lock_or_unlock}_player_form" do %>
    <td><%= t("#{lock_or_unlock}_player.confirm_msg", first_name: @player.first_name.upcase, last_name: @player.last_name.upcase) %></td>
  <% end %>
  
  <%= form_for @player, url: eval("#{lock_or_unlock}_account_path"), remote: true, html: { id: "#{lock_or_unlock}_player_form", style: 'display: none', method: 'post' } do |f| %>
    <%= hidden_field_tag :member_id, @player.member_id %>
  <% end %>

  <%= render partial: "shared/pop_up_panel" %>
<% end %>

