<h1>Balance Enquiry</h1>

<div>
  <label>Player Name:</label>
  <label><%= @player.player_name%></label>
</div>
<div>
  <label>Player ID:</label>
  <label><%= @player.member_id%></label>
</div>
</br>
<div>
  <label><%= t("balance_inquiry.account_balance")%>:</label>
  <label><%= @player.balance%></label>
</div>
<div>
  <% if policy(PlayerTransaction.new).deposit? %>
    <%= link_to fund_in_path + "?member_id=#{@player.member_id}" , :title => t("button.deposit"), :remote => true do %>
      <span> <%= t("button.deposit")%></span>
    <% end %>
  <% end %>
  <% if policy(PlayerTransaction.new).withdraw? %>
    <%= link_to fund_in_path + "?member_id=#{@player.member_id}" , :title => t("button.withdrawal"), :remote => true do %>
      <span> <%= t("button.withdrawal")%></span>
    <% end %>
  <% end %>
    <%= link_to home_path , :title => t("button.close"), :remote => true do %>
      <span> <%= t("button.close")%></span>
    <% end %>
</div>
