<% if @operation == 'balance' %>
  <% if @exception_transaction == 'yes'%>
    <%= bread_crumb("fa fa-bank",t("deposit_withdrawal.exception"),t("deposit_withdrawal.exception")) %>
  <% else %>
    <%= bread_crumb("fa fa-bank",t("tree_panel.fund_management"),t("tree_panel.balance")) %>
  <% end %>
<% else %>
  <%= bread_crumb("glyphicon glyphicon-user",t("tree_panel.player_management"),t("tree_panel.profile")) %>
<% end %>

<% if @inactivate %>
  <% footer = render "players/inactivate_footer" %>
<% else %>
  <% footer = render "players/#{@operation}_footer" %>
<% end %>

<% content = render "players/balance_amt" %>


  <div style="width:100%; margin:0 auto;">
    <div id = "div2" style= "margin-right:10px;"><%= render partial:"shared/player_info" , :locals => {:show_info => true, :show_balance => true, :content => content,     :footer => footer, :show_remain => {:deposit => true, :withdraw => true}} %>
    </div>
    <% if policy(:PlayerTransaction).search? %>
      <div id = "div1" style= "width:650px;"><%= render partial:"player_transactions/search_form" , :locals => {:search_by_history => false} %>
      </div>
    <% end %>
    <input type="text" id="exception_transaction" name="exception_transaction" value=<%= @exception_transaction %>  style="display:none" readonly >
    <% if @void_error %>
      <%= content_tag :div, :class => "alert alert-danger fade in" do %>
        <button class="close" data-dismiss="alert">×</button>
        <label id="void_error"><%= @void_error %></label>
      <% end %>
    <% end %>
    <div id="player_transactions_result">
    </div>
  </div>

<script>
  $(document).ready(function() {
    <% if @start_time.present? || @end_time.present? %>
      $('input[name=start_time]').val("<%= @start_time %>");
      $('input[name=end_time]').val("<%= @end_time %>");
      $('input#search').click();
    <% end %>
  });
</script>


