<h1><%= t(@search_title)%></h1>
<%= form_for :player,:remote => true, :url =>{:action => :do_search, :operation => @operation}, :html => { autocomplete: :off }  do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-sm-3">
        <section class="smart-form">
          <div class="inline-group">
            <label class="radio">
              <input type="radio" id="card_id" name="id_type" value="card_id" <%= checked="checked" if @id_type != "member_id" %>>
              <i>
              </i>
              <%= t("general.card_id") %>
            </label>
            <label class="radio">
              <input type="radio" id="member_id" name="id_type" value="member_id" <%= checked="checked" if @id_type == "member_id" %>>
              <i>
              </i>
              <%= t("general.member_id") %>
            </label>
          </div>
        </section>
      </div>

      <div class="col-sm-4">
        <section class="smart-form">
          <label class="input">
            <%= text_field_tag(:"id_number", @id_number) %>
          </label>
        </section>
      </div>
      <%= content_tag(:button, create_icon("fa fa-fw fa-search fa-lg"), :class => "btn btn-primary")%>
    </div>
    
  </fieldset>

<% end %>
<% if @found == "false" %>
  <h2> <%= t("search_error.not_found")%></h2>
  <% if policy(Player.new).create? %>
    <p> <%= t("search_error.create_player")%></p>
    <%= link_to t("button.create"), :action => :new, :remote => true, @id_type.to_sym => @id_number %>
  <% end %>
<% end %>
