<h1><%= t(@search_title)%></h1>
<%= form_for :player,:remote => true, :url =>{:action => :do_search, :operation => @operation}  do |f| %>
  <div>
    <label><%=  t("general.member_id") %></label>
    <%= f.text_field :member_id %>
  </div>
  <div>
    <%= submit_tag t("button.find")%>
  </div>
<% end %>
<% if @found == "false" %>
  <h2> <%= t("search_error.not_found")%></h2>
  <% if policy(Player.new).create? %>
  <p> <%= t("search_error.create_player")%></p>
  <%= link_to t("button.create"), :action => :new, :member_id => @player.member_id %>
  <% end %>
<% end %>
