<table id="player_balance_report_datatable" data-source="<%= do_search_player_balance_reports_path(format: :json) %>"  class="table table-striped table-bordered table-hover" width="100%" height="100%">
  <thead>
    <tr>
      <th><%= t("general.member_id") %></th>
      <th><%= t("player.member_status") %></th>
      <th><%= t("player.locked_reasons") %></th>
      <th><%= t("player.cash_balance") %></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
