<%= bread_crumb("fa fa-bank",t("tree_panel.fund_management"),t("tree_panel.player_balance_report")) %>

<div id="myTabContent1" class="tab-content">
  <div class="tab-pane fade in active" id="player_balance_report_content">
    <div id="player_balance_report_info" class="row">
      <div class="col-md-12">
        <p style="font-size: 16px;">
          <text><b><%= t("general.data_updated_to") %>:</b> <%= @data_updated_to %></span></text>
          <text><b><%= t("general.total_balances") %>:</b> <%= @total_balances %></span></text>
        </p>
      </div>
    </div>

    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
      <div>
        <div class="widget-body no-padding">
          <div id="player_balance_report_result">
            <%= render "player_balance_reports/search_table" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= javascript_include_tag "pagination" %>
