<div id="account_activity_search_info" class="row" style="display: none;">
  <div class="col-md-12">
    <h4>
      <text><%= t("general.member_id") %>: <span id="search_member_id"></span></text>
      <text style='padding-left: 20px;'><%= t("general.licensee") %>: <span id="search_licensee"></span></text>
      <text style='padding-left: 20px;'><%= t("general.date_range") %>: <span id="search_date_range"></span></text>
    </h4>
  </div>
</div>

<% if @transactions %>
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2><%= t("tree_panel.account_activity") %></h2>
    </header>
    <div>
      <div class="widget-body no-padding">
        <div id="account_activity_result">
          <%= render "account_activities/search_table" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "pagination" %>
