<table id="account_activity_datatable" data-source="<%= do_search_account_activities_path(start_time: @start_time, end_time: @end_time, member_id: @member_id, round_id: @round_id, format: :json) %>"  class="table table-striped table-bordered table-hover" width="100%" height="100%">
  <thead>
    <tr>
      <th colspan="10"></th>
      <th class="info" colspan="2"><%= t("account_activity.begin_balance") %></th>
      <th class="danger" colspan="2"><%= t("account_activity.trans_amount") %></th>
      <th class="success" colspan="2"><%= t("account_activity.end_balance") %></th>
    </tr>
    <tr>
      <th><%= t("general.date_time") %></th>
      <th><%= t("account_activity.transaction_type") %></th>
      <th><%= t("general.casino") %></th>
      <th><%= t("account_activity.property") %></th>
      <th><%= t("account_activity.zone_location") %></th>
      <th><%= t("account_activity.ref_trans_id") %></th>
      <th><%= t("account_activity.round_id") %></th>
      <th><%= t("account_activity.slip_id") %></th>
      <th><%= t("account_activity.employee_name") %></th>
      <th><%= t("transaction_history.status") %></th>
      <th class="info"><%= t("account_activity.cash") %></th>
      <th class="info"><%= t("account_activity.credit") %></th>
      <th class="danger"><%= t("account_activity.cash") %></th>
      <th class="danger"><%= t("account_activity.credit") %></th>
      <th class="success"><%= t("account_activity.cash") %></th>
      <th class="success"><%= t("account_activity.credit") %></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
