<% if @pin_histories %>
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>Search Result </h2>
  </header>
  <div>
    <div class="widget-body no-padding">
      <% if @pin_histories.length > 0 %>
        <div id="history_result">
          <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%" height="100%">
            <thead>
                <th><%= t("change_history.user_name")%></th>
                <th><%= t("change_history.action_at")%></th>
                <th><%= t("change_history.action")%></th>
                <th><%= t("change_history.player")%></th>

            </thead>
            <% @pin_histories.each do |ph| %>
                <tr>
                  <% casino = Casino.find_by_id(ph[:casino_id].to_i) %>
                  <td><a href="javascript:void(0);" class="popover-hover" rel="popover-hover" data-placement="top" data-original-title='<%=t("change_history.casino_name")%>' data-content="<%=casino.name%>"><%= ph[:user] %></a></td>
                  <td><%= format_time(ph[:action_at]) %></td>
                  <td><%= t("pin_history.#{ph[:action]}") %></td>
                  <td><%= ph[:member_id] %></td>
                </tr>
            <% end %>
          </table>
        </div>
        <% if policy(:Shift).print_fm? %>
          <div>
            <button id="print_ph" class="btn btn-primary pull-right"><%= t("button.print") %></button>
          </div>
        <% end %>
      <% else %>
        <br/>
        <br/>
        <label style="margin-left: 10px"> <%= t("report_search.no_history_found")%> </label>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<%= javascript_include_tag "print.js" %>

<script>
  function trimToPrintContent(raw) {
    $('table', raw).css("border","1px double");
    $('tbody tr td', raw).css("border","1px double");
    $('thead th', raw).css("border","1px double");
    $('table', raw).attr('height', 10);
  }
  var raw_result = $('div#history_result').clone();
  trimToPrintContent(raw_result);
  var content = raw_result.html();
  $(document).ready(function() {
    $('button#print_ph').click(function() {

      printHtml(content, false, 'PIN History Report');

      return false;
    });
  });
</script>
<%= javascript_include_tag "pagination.js" %>
