<h1><%= t("tree_panel.fund_in") %></h1>

<table id="slip" width="800" frame="box">
  <tr height="40"></tr>
  <tr>
    <td width="10%">Amount:</td>
    <td width="40%"><%= to_display_amount_str(@transaction[:amount]) %></td>
    <td width="10%">Member ID:</td>
    <td width="40%"><%= @transaction[:member_id] %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
<% if policy(PlayerTransaction.new).print? %>
  <button id="print_slip">Print</button>
<% end %>
<%= link_to home_path , :title => t("button.close"), :remote => true, :id => "close_link" do %>
  <span> <%= t("button.close")%></span>
<% end %>
<%= link_to print_path , :title => t("button.close"), :remote => true, :id => "print_link" , :style => "display: none" do %>
  <span> <%= t("button.Print")%></span>
<% end %>

<script type='text/javascript'>
  $('#print_slip').click(function() {
    $('#print_link').click()

    var w = window.open();
    var html = $("#slip").html();

    $(w.document.body).html(html);
    w.print();

    return false;
  });
</script>
