<h1><%= t("tree_panel.fund_in")%></h1>

<div>
  <p>Player Name: <%= @player[:player_name] %></p>
  <p>Member ID: <%= @player[:member_id] %></p>
</div>

<%= form_for :player_transaction, url: fund_in_path, remote: true, html: { id: "fund_in_request" } do |f| %>
  <div>
    <%= hidden_field(:player, :member_id) %>
  </div>

  <div>
    <%= f.label "Amount: " %>
    <%= f.text_field :amount, required: true, pattern: '^\d+(\.\d{1,2})?$', :id => "player_transaction_amount", :onkeyup => "return ValidateFloat($(this),value)" %><br/>
  </div>
<% end %>

<div id="button_set">
  <%= button_tag t("button.confirm"), :id => "confirm"%>
  <%= button_to t("button.cancel"), home_path, :id => "cancel", :method => "get", :remote => true%>
</div>

<div id="confirm_fund_dialog" class="ui-dialog" style="height: 150px; width: 600px; top: 206px; left: 376px; display: none;">
  <div style="height: 60%;" align="center">
    <table>
      <td width="60%"><p style="font-size: 18px;"><%= t("deposit_withdrawal.deposit_amt")%>:</p></td>
      <td width="40%"><p style="font-size: 18px;" id="deposit_amt"></p></td> 
    </table>
  </div>
  <div align="center">
    <button id="confirm" class="btn btn-danger">Confirm</button>
    <button id="cancel" class="btn btn-default">Cancel</button>
  </div>
</div>

<script type='text/javascript'>
  function updateConfirmAmt(){
    amt = document.getElementById('player_transaction_amount').value
    document.getElementById('deposit_amt').innerText = amt
  }

  $('#confirm').click(function() {
    $('#confirm_fund_dialog').css("display", "block");

    $('#confirm').attr('disabled','disabled');
    $('#cancel').attr('disabled','disabled');
    $('#player_transaction_amount').attr('readonly','readonly');
    updateConfirmAmt();

    return false;
  });

  $('#confirm_fund_dialog #confirm').click(function() {
    $('#fund_in_request').submit();

    return false;
  });


  $('#confirm_fund_dialog #cancel').click(function() {
    $('#confirm_fund_dialog').css("display", "none");

    $('#confirm').removeAttr('disabled');
    $('#cancel').removeAttr('disabled');
    $('#player_transaction_amount').removeAttr('readonly','readonly');

    return false;
  });

  function ValidateFloat(e, pnumber)
  {
    if (!/^\d+[.]?[\d\d]?$/.test(pnumber))
    {
        $(e).val(/^\d+[.]?\d\d/.exec($(e).val()));
    }
    return false;
  }
  
  function ifenter(){ 
    if(event.keyCode==13){
      return   false;
    }
  }
  document.getElementById('fund_in_request').onkeydown=ifenter;
</script>
