
            <fieldset>
              <div class="row">
                
              <%= form_tag(add_location_path, :remote => true, :id => "add_location") do %>
                <div class="col-sm-2">
                  <section class="smart-form">
                    <label class="label"><%= t("general.location") %></label>
                    <label class="input">
                      <%= text_field_tag(:location_name) %>
                    </label>
                  </section>
                </div>
              <% end %>
            
                <div class="col-sm-2">
                  <section class="smart-form">
                    <label class="label" style='visibility: hidden;'><%= t("button.add") %></label>
                  </section>
                  <% pop_up_btn :id => "add_location_confirm", :str => t("button.add"), :form_id => "add_location" do %>
                    <div style="height: 60%; vertical-align: middle; padding: 30px;" align="center">
                      <table>
                        <tr>
                          <td><p><%= t("confirm_box.add_location")%>&nbsp</p></td>
                          <td><p id="location_name"></p></td> 
                          <td><p>?</p></td> 
                        </tr>
                      </table>
                    </div>
                  <% end %>
                
            </fieldset>

<script type='text/javascript'>
  function updateLocationName(){
    name = $('form#add_location input#location_name').val()
    $('#pop_up_dialog #location_name').text(name);
  }
  
  $('#add_location_confirm').click(function() {
    updateLocationName();
  });

  $(document).ready(function(){
    $('#location_name').keyup(function(){
      $("#add_location_confirm").attr("disabled", false);
      if (!$("#location_name").val().match(/\S/)){
        $("#add_location_confirm").attr("disabled", true);
      }
    });
  });
</script>
