          <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%" height="100%">
            <thead>
              <th><%= t("location.id")%></th>
              <th><%= t("location.name")%></th>
              <th><%= t("station.updated_at")%></th>
              <th><%= t("station.operation")%></th>
            </thead>
            <tbody>
              <% locations.each do |location| %>
                <tr id="location_<%= location.id %>">
                  <td><%= location.id %></td>
                  <td><%= location.name %></td>
                  <td><%= location.updated_at %></td>
                  <td>
                    <% if policy(Location.new).disable? %>
                      <% if @status == 'active' %>
                        <%= link_to '', disable_locations_path + "?location_id=#{location.id}", :id => "disable_location", :class => "glyphicon glyphicon-off", :method => "post", :remote => true, data: { confirm: 'Are you sure?' } %> </td>
                      <% else %>
                        <%= link_to '', enable_locations_path + "?location_id=#{location.id}", :id => "enable_location", :class => "glyphicon glyphicon-repeat", :method => "post", :remote => true, data: { confirm: 'Are you sure?' } %> </td>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
